<item>
    <codigo>{{codigo}}</codigo>
    <descricao>{{descricao}}</descricao>
    <un>{{un}}</un>
    <qtde>{{qtde}}</qtde>
    <vlr_unit>{{vlr_unit}}</vlr_unit>
    <tipo>{{tipo}}</tipo>
    <peso_bruto>{{peso_bruto}}</peso_bruto>
    <peso_liq>{{peso_liq}}</peso_liq>
    <class_fiscal>{{class_fiscal}}</class_fiscal>
    <origem>{{origem}}</origem>
    <cest>{{cest}}</cest>
</item>
