<transporte>
    <transportadora>{{transportadora}}</transportadora>
    <cpf_cnpj>{{cpf_cnpj}}</cpf_cnpj>
    <ie_rg>{{ie_rg}}</ie_rg>
    <endereco>{{endereco}}</endereco>
    <cidade>{{cidade}}</cidade>
    <uf>{{uf}}</uf>
    <placa>{{placa}}</placa>
    <uf_veiculo>{{uf_veiculo}}</uf_veiculo>
    <tipo_frete>{{tipo_frete}}</tipo_frete>
    <qtde_volumes>{{qtde_volumes}}</qtde_volumes>
    <especie>{{especie}}</especie>
    <numero>{{numero}}</numero>
    <peso_bruto>{{peso_bruto}}</peso_bruto>
    <peso_liquido>{{peso_liquido}}</peso_liquido>
    <servico_correios>{{servico_correios}}</servico_correios>
    <dados_etiqueta>{{dados_etiqueta}}</dados_etiqueta>
</transporte>
